<footer class="footer">
    <div class="container">
        <div class="footer__inner">
          <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="footer__item">
                <div class="footer__logo">International Smart Place</div>
              </div>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="footer__item">
                <div class="footer__menu">
                    <a data-scroll href="#intro" class="footer__link">Главная</a>
                    <a data-scroll href="#learning" class="footer__link">Как проходит обучение</a>
                    <a data-scroll href="#advantages" class="footer__link">Преимущества</a>
                    <a data-scroll href="#team" class="footer__link">Преподаватели</a>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="footer__item">
                <div class="footer__text">Подписывайтесь</div>
                <div class="footer__social">
                    <a href="#" class="footer__block">
                        <svg class="footer__icon footer__icon--social">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>

                    <a href="#" class="footer__block">
                      <svg class="footer__icon footer__icon--social">
                          <use xlink:href="#linked"></use>
                      </svg>
                    </a>

                    <a href="#" class="footer__block">
                      <svg class="footer__icon footer__icon--social">
                          <use xlink:href="#youtube"></use>
                      </svg>
                    </a>

                  </a>

                </div>
              </div>
            </div>

          </div> <!-- row -->
        </div> <!-- .footer__inner -->
    </div> <!-- .container -->
</footer>