<header class="header">
  <div class="container">
      <div class="header__inner">

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                  <div class="header__item">
                      <a data-scroll href="#intro" class="header__logo">International Smart Place</a>
                  </div>
                </div>

                <div class="col-lg-7 col-md-7 d-sm-none col-7">
                  <div class="header__item">
                    <nav class="header__menu">
                        <a data-scroll href="#learning" class="header__menu--link">Как проходит обучение</a>
                        <a data-scroll href="#advantages" class="header__menu--link">Преимущества</a>
                        <a data-scroll href="#cooperation" class="header__menu--link">Инструкция</a>
                        <a data-scroll href="#team" class="header__menu--link">Преподаватели</a>
                    </nav>
                  </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                 <div class="header__item">
                    <a href="#" class="header__button">Войти</a>
                    <div class="header__burger">
                        <span class="burger__menu"></span>
                    </div>
                 </div>
                </div>

            </div>

      </div>

      

    </div>
</header>
