// COLORS

$white: #fff;
$black: #000;
$blue: #4B5DFF;
$darkBlue: #3c3f7b;
$gray: #CDCCCC;

// FONTS
$fontXXL: 2.4rem;
$fontXL: 1.8rem;
$fontMedium: 1.6rem;
$fontLarge: 1.4rem;
$fontStandartX: 1.2rem;
$fontStandart: 1rem;
$fontSmall: 0.8rem;
